body {
    background-image: url(../../../assets/fondos/fondo4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 2%;
}

.row{
    padding-left: 4%;
    padding-right: 4%;
}

#titulo {
    display: flex;
    align-items: center;
}

    #fondo9{
        width: 600px;
        margin-left: 10%;
        box-shadow: 30px 30px 30px black;
        margin-top: 10%;
     }   

 h1{
    font-style: oblique;
    font-weight: bold;
    font-size: 45px;
    margin-left: 10%;
    margin-top: 10%;
}

 #nombre {
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

p{
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

